version: 2.1

jobs:
  publish:
    docker:
      - image: cimg/node:lts
    steps:
      - run:
          name: Install LFTP
          command: |
            sudo apt-get update;
            sudo apt-get install lftp;
      - checkout
      - run:
          name: Publish with LFTP
          command: lftp ftp://$FTP_USERNAME:$FTP_PASSWORD@sequencemedia.net -e "set ftp:ssl-allow no; mirror -R --parallel=10 pub public_html; exit"

workflows:
  commit-workflow:
    jobs:
      - publish:
          filters:
            tags:
              only: /^v.*/
